.valeurtypevariable{
    display:initial;
}

.liste{
    display: initial;
}

.dictionnaire{
    display: initial;
}

.chapfonction{
    display: initial;
}

.conditionnelle{
    display: initial;
}

.boucle{
    display: initial;
}

.fichier{
    display: initial;
}

/* .md-sidebar{
    display: none;
} */
@media screen and (min-width: 76.25em){
.md-sidebar {
    display: none;
}
}


.md-source-file{
    display: none;
}

.card, body {
    background-color: var(--md-default-bg-color);
    color: var(--md-typeset-color);
}

.card{
    border-color: var(--md-typeset-color);;
}

.card-title, .card-body {
    color: var(--md-typeset-color);
}

[data-bracket] {
    display: inline-block;
    /* vertical-align: top; */
    position: relative;
}
[data-bracket]:after {
    content: "";
    display: block;
    height: 4px;
    border: 2px solid var(--md-typeset-color);
    border-top: none;
    transform: translateY(-150%);
}
[data-bracket]:before {
    content: attr(data-bracket);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--md-typeset-color);
    position: absolute;
    top: 65%;
    font-size: 80%;
    padding: 5px;
    white-space: pre;
    left: 50%;
    transform: translateX(-50%);
    line-height: 10px;
}

.agauche[data-bracket]:before {
    left: 0%;
}

.adroite[data-bracket]:before {
    left: 115%;
}

.lead{
    font-size: 1.1rem;
}

[data-md-color-scheme=slate]{
    --valeur-color: lightgreen;
    --valeurspe-color: lightsalmon;
    --type-color:lightblue;
    --motcme-color:lightblue;
    --variable-color:lightcoral;
    --module-color:lightpink;
    --fonction-color:turquoise;
}

[data-md-color-scheme=default]{
    --valeur-color: green;
    --valeurspe-color: darkorange;
    --type-color:blue;
    --motcme-color:blue;
    --variable-color:brown;
    --module-color:purple;
    --fonction-color:teal;
}

.valeur{
    color: var(--valeur-color);
    font-family:'Courier New', Courier, monospace;
}

.valeurspe{
    color: var(--valeurspe-color);
    font-family:'Courier New', Courier, monospace;
}

.type{
    color: var(--type-color);
    font-family:'Courier New', Courier, monospace;
}

.motcle{
    color: var(--motcme-color);
    font-family:'Courier New', Courier, monospace;
}

.variable{
    color: var(--variable-color);
    font-family:'Courier New', Courier, monospace;
}

.module{
    color: var(--module-color);
    font-family:'Courier New', Courier, monospace;
}

.fonction{
    color: var(--fonction-color);
    font-family:'Courier New', Courier, monospace;
}

h3 {
    margin: 0 !important;;
}

a {
    text-decoration: none;
    color: inherit;
}

td.type{
    vertical-align: baseline;
}

td.center{
    text-align: center;
}

td{
    padding-bottom: 0px;
    padding-top: 0px;
}

.table100{
    width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 0!important;
}

.row>* {
padding-left: 2px!important;
padding-right: 2px!important;
}


.card-body{
    padding-left: 1px!important;
    padding-right: 1px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

code {
    text-shadow: none!important;
}

.grid-item { width: 500px; }
.grid-item--width2 { width: 100%; }
.grid-item--width5 { width: 500px; }
.grid-item--width6 { width: 600px; }
.grid-item--width7 { width: 700px; }
